[tool.poetry]
name = "foundry-flix"
version = "0.1.0"
description = ""
authors = ["Your Name <you@example.com>"]
license = "Apache-2.0"
readme = "README.md"
packages = [{include = "flix"}]

[tool.poetry.dependencies]
python = ">=3.10"
aiohttp = "^3.8.1"
appdirs = "^1.4.4"
python-dateutil = "^2.8.2"
asyncclick = "^8.1.3.2"
anyio = "^3.6.1"
grpcio = "^1.51.1"
protobuf = "^4.21.10"
cryptography = "^38.0.4"

[tool.poetry.scripts]
flix = 'flix.cli.main:main'

[tool.poetry.group.dev.dependencies]
mypy = {git = "https://github.com/python/mypy.git"}
types-python-dateutil = "^2.8.19"
types-appdirs = "^1.4.3"
grpcio-tools = "^1.51.1"
grpc-stubs = "^1.24.11"
types-protobuf = "^4.21.0.2"
mypy-protobuf = "^3.4.0"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.mypy]
strict = true
#enable-recursive-aliases = true

[tool.black]
line-length = 120
